/* Page layout */
body {
  font-family: Arial, sans-serif;
  background-color: #4b5475;
  margin: 0;
  padding: 20px;
}

/* Sections */
section {
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Headings */
h2 {
  margin-bottom: 15px;
  color: rgb(10, 10, 10)
}

/* Form layout */
form div {
  margin-bottom: 40px;
}

/* Labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(71, 150, 77)
}

#newPostSection {
  max-width: 1000px;
  margin: 0 auto 40px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#title {
  width: 50%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

Inputs and textarea input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

textarea {
  min-height: 100px;
  resize: vertical;
  max-width: 100%;
}

/* Focus effect */
input:focus,
textarea:focus {
  border-color: #2cb455;
  outline: none;
}

/* Button */
button {
  background-color: #43c029;
  color: whitesmoke;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1a701a;
}

/* Error messages */
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.posts-section {
  margin-top: 40px;
}

/* Posts container */
#postsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Individual post card (when JS adds posts) */
.post {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  border-left: 4px solid #667eea;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}